---
import IndexLayout from '@/layouts/IndexLayout.astro'
import PostList from '@/components/widgets/PostList.astro'
import Currently from '@/components/widgets/Currently.astro'
import DailyLogList from '@/components/widgets/DailyLogList.astro'
import { themeConfig } from '@/config'
import { getSortedFilteredPosts } from '@/utils/draft'
import { getCollection, getEntry, render } from 'astro:content'

const allPosts = await getSortedFilteredPosts()
const recentPosts = allPosts.slice(0, 3)

const allLogs = await getCollection('dailyLogs')
const recentLogs = allLogs
  .filter((log) => !log.id.startsWith('_'))
  .sort((a, b) => b.data.date.valueOf() - a.data.date.valueOf())
  .slice(0, 3)

const aboutEntry = await getEntry('about', 'about')
if (!aboutEntry) throw new Error('About content not found')
const { Content: AboutContent } = await render(aboutEntry)
---

<IndexLayout title={themeConfig.site.title} description={themeConfig.site.description}>
  <div class="about prose">
    <AboutContent />
  </div>
</IndexLayout>
