---
import { themeConfig } from '@/config'
import { ClientRouter } from 'astro:transitions'
import type { LayoutProps } from '@/types'

type Props = LayoutProps

const { type = 'page' } = Astro.props
const language = themeConfig.site.language || 'en-US'
const fadeAnimation = themeConfig.general.fadeAnimation
---

<html lang={language}>
  <head>
    {fadeAnimation && <ClientRouter />}
    <slot name="head" />
  </head>
  <body>
    <slot />
  </body>
</html>
